/* You can add global styles to this file, and also import other style files */

div{
  width: 90% ;
  margin-left:auto;
  margin-right: auto;

}

h2{
  position: absolute;
  left: 45%;
  top: 5%;
  font-family: Arial;
}

button{
  position: absolute;
  left: 46%;
  top: 15%;
}

.mytable{
  margin-top: 25%;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
