/* You can add global styles to this file, and also import other style files */

div{
  width: 90% ;
  margin-left:auto;
  margin-right: auto;

}

h2{
  position: relative;
  margin-left: 45%;
  margin-top: 20px;
  font-family: Arial,sans-serif;
}

button{
  position: relative;
  margin-left: 45%;
  margin-top: 30px;
}

.mytable{
  width: 90%;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
}

#tableTotal{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

#total{
  width: 41%;
}
